@model List<Lab.EF.MVC.Models.ShippersView>
@{

    ViewBag.Title = "Shippers";
}
<html>
<head>
    <script>
        function Delete(id) {
            var isConfirmed = confirm('Delete this?');
            if (isConfirmed) {
                $.ajax
                    (
                        {
                            type: "GET",
                            url: "/Shippers/Delete/" + id,
                            success: function (data) {
                                $("#shipper_" + id).remove();
                            },
                            error: function () {
                                alert("Error occured!!")
                            }
                        });
            }
        }

        function selectTop()
        {
            var quantity = document.getElementById("topID").value;
            document.location = "/?value=" + quantity;
        }

    </script>
</head>
<body>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <h2>Primo's Shippers Company</h2>
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Enter a Number.." aria-label="Search" id="topID">
            <a href="#" onclick="selectTop()" class="btn btn-primary">Select Top</a>
            @Html.ActionLink("Refresh", "index", "", new { @class = "btn btn-primary" })
        </form>
    </nav>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var shipper in Model)
            {
                <tr id="shipper_@shipper.Id">
                    <th scope="row">@shipper.Id</th>
                    <td>@shipper.CompanyName</td>
                    <td>@shipper.Phone</td>
                    <td><a href="#" onclick=Delete(@shipper.Id) class="btn btn-danger">Delete</a></td>
                    <td>@Html.ActionLink("Update", "InsertUpdate", new { id = shipper.Id, @class = "ShipperView" }, new { @class = "btn btn-info" })</td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        @Html.ActionLink("Insert New", "InsertUpdate", "", new { @class = "btn btn-success" })
    </div>
</body>
</html>
